body {
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0;
    padding: 0;
    background-color: #ffffcc; /* Light yellow background */
    color: #333;
}

header {
    background-color: #ffcc00; /* Darker yellow for header background */
    color: black; /* Black font color for header */
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #cc9900; /* Darker yellow for navigation background */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black; /* Black font color for navigation links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #996600; /* Darker yellow for hover background */
}

h2 {
    color: #4CAF50; /* Green font color for h2 headings */
}